.version.blog_1505 /* version checker */
{
	color: #0000E5;
	background-color: #2440BB;
}

.html
{
	background: #FFFFFF url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 732px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
	width: 0.01px;
}

#u3021,#u3021-bw
{
	z-index: 5;
	height: 22px;
}

#pu3026-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u3026-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u3025-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2950
{
	z-index: 27;
	width: 600px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2972
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2973
{
	width: 74px;
	padding-bottom: 12px;
}

#u2973:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2973:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2973.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2975-4
{
	width: 53px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2973:hover #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2973:active #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2973.MuseMenuActive #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2951
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 77px;
}

#u2954
{
	width: 112px;
	padding-bottom: 12px;
}

#u2954.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2955-4
{
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2954:hover #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2954:active #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2954.MuseMenuActive #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2979
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 192px;
}

#u2989
{
	width: 122px;
	padding-bottom: 12px;
}

#u2989.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2992-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2989:hover #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2989:active #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2989.MuseMenuActive #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2990
{
	z-index: 46;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 97px;
}

#u2980
{
	width: 100px;
	top: 34px;
}

#u2981
{
	width: 100px;
}

#u2981:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u2982
{
	width: 100px;
}

#u2985
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2985:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2985.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2986-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2985:hover #u2986-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2985.MuseMenuActive #u2986-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2965
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 317px;
}

#u2966
{
	width: 87px;
	padding-bottom: 12px;
}

#u2966.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u2969-4
{
	width: 66px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2966:hover #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2966:active #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2966.MuseMenuActive #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2993
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 407px;
}

#u2994
{
	width: 85px;
	padding-bottom: 12px;
}

#u2994.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2996-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2994:hover #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2994:active #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2994.MuseMenuActive #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2997
{
	z-index: 67;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 60px;
}

#u2989.MuseMenuActive #u2990,#u2994.MuseMenuActive #u2997
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2998
{
	width: 125px;
	top: 34px;
}

#u2999
{
	width: 125px;
}

#u2999:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u3008
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3008:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3011-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u3008:hover #u3011-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3001
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3008.MuseMenuActive,#u3001:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3004-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u3008.MuseMenuActive #u3011-4,#u3001:hover #u3004-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3017
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3001.MuseMenuActive,#u3017:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3018-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 7px;
}

#u3017:hover #u3018-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3017.MuseMenuActive #u3018-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3058
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3017.MuseMenuActive,#u3058:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3060-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u3001.MuseMenuActive #u3004-4,#u3058:hover #u3060-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3058.MuseMenuActive #u3060-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3089
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3058.MuseMenuActive,#u3089:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3092-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3089:hover #u3092-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3089.MuseMenuActive #u3092-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3007,#u3000,#u3014,#u3057,#u3086,#u3114
{
	width: 125px;
}

#u3115
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3089.MuseMenuActive,#u3115:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3115.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3117-4
{
	width: 115px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3115:hover #u3117-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u3115.MuseMenuActive #u3117-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u2958
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u2961
{
	width: 105px;
	padding-bottom: 12px;
}

#u2961.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u2962-4
{
	width: 85px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2961:hover #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2961:active #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2961.MuseMenuActive #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#pu2938
{
	width: 0.01px;
	margin-left: -100px;
}

#u2938
{
	z-index: 6;
	min-height: 71px;
	padding-bottom: 14px;
}

#u2938_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u3036-4
{
	z-index: 148;
	width: 624px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 122px;
}

#u2938-bw
{
	z-index: 6;
	min-height: 71px;
}

#u2939
{
	z-index: 9;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u2941
{
	z-index: 12;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u2945
{
	z-index: 15;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u3022
{
	z-index: 18;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u2948
{
	z-index: 21;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u2939:hover,#u2941:hover,#u2945:hover,#u3022:hover,#u2948:hover
{
	height: 54px;
	width: 54px;
}

#u3035
{
	z-index: 147;
	width: 910px;
	height: 2px;
	margin-left: 22px;
	margin-top: 25px;
}

#ppu3033
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 21px;
}

#pu3033
{
	z-index: 119;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 624px;
}

#u3033
{
	z-index: 0;
	width: 291px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3034-27
{
	width: 0.01px;
	position: relative;
	left: 27px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 166px;
}

#u3034-27
{
	z-index: 120;
	width: 236px;
	min-height: 287px;
	margin-right: -10000px;
}

#u2947-6
{
	z-index: 112;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 1234px;
	left: 247px;
}

#u2943
{
	z-index: 118;
	width: 170px;
	min-height: 170px;
	margin-right: -10000px;
	margin-top: 1100px;
	left: 768px;
}

#u3067-55
{
	z-index: 152;
	width: 583px;
	min-height: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3067-53
{
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: #262626;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u3024
{
	z-index: 7;
	height: 21px;
}

#u3024-bw
{
	z-index: 7;
	margin-top: 21px;
	height: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

