.version.blog_1525 /* version checker */
{
	color: #0000EB;
	background-color: #42F0B6;
}

.html
{
	background: #FFFFFF url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1479.8499999999979px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	padding-bottom: 21px;
	width: 0.01px;
}

#u3021,#u3021-bw
{
	z-index: 8;
	height: 22px;
}

#pu3026-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u3026-3
{
	z-index: 5;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u3025-4
{
	z-index: 26;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2950
{
	z-index: 30;
	width: 600px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2972
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2973
{
	width: 74px;
	padding-bottom: 12px;
}

#u2973:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2973:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2973.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2975-4
{
	width: 53px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2973:hover #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2973:active #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2973.MuseMenuActive #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2951
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 77px;
}

#u2954
{
	width: 112px;
	padding-bottom: 12px;
}

#u2954.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2955-4
{
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2954:hover #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2954:active #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2954.MuseMenuActive #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2979
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 192px;
}

#u2989
{
	width: 122px;
	padding-bottom: 12px;
}

#u2989.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2992-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2989:hover #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2989:active #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2989.MuseMenuActive #u2992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2990
{
	z-index: 49;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 97px;
}

#u2980
{
	width: 100px;
	top: 34px;
}

#u2981
{
	width: 100px;
}

#u2981:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u2982
{
	width: 100px;
}

#u2985
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2985:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2985.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2986-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2985:hover #u2986-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2985.MuseMenuActive #u2986-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2965
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 317px;
}

#u2966
{
	width: 87px;
	padding-bottom: 12px;
}

#u2966.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u2969-4
{
	width: 66px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2966:hover #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2966:active #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2966.MuseMenuActive #u2969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2993
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 407px;
}

#u2994
{
	width: 85px;
	padding-bottom: 12px;
}

#u2994.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2996-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2994:hover #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2994:active #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2994.MuseMenuActive #u2996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2997
{
	z-index: 70;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 60px;
}

#u2989.MuseMenuActive #u2990,#u2994.MuseMenuActive #u2997
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2998
{
	width: 128px;
	top: 34px;
}

#u2999
{
	width: 128px;
}

#u2999:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3008
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3008:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3011-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 22px;
}

#u3008:hover #u3011-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3001
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3008.MuseMenuActive,#u3001:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3004-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 22px;
}

#u3008.MuseMenuActive #u3011-4,#u3001:hover #u3004-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3017
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3001.MuseMenuActive,#u3017:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3018-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 9px;
}

#u3017:hover #u3018-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3017.MuseMenuActive #u3018-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3058
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3017.MuseMenuActive,#u3058:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3060-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 22px;
}

#u3001.MuseMenuActive #u3004-4,#u3058:hover #u3060-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3058.MuseMenuActive #u3060-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3089
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3058.MuseMenuActive,#u3089:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3092-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u3089:hover #u3092-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3115
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3089.MuseMenuActive,#u3115:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3117-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u3089.MuseMenuActive #u3092-4,#u3115:hover #u3117-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3130
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3115.MuseMenuActive,#u3130:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3131-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 26px;
}

#u3130:hover #u3131-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3167
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3130.MuseMenuActive,#u3167:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3168-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 26px;
}

#u3130.MuseMenuActive #u3131-4,#u3167:hover #u3168-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3196
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3167.MuseMenuActive,#u3196:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3197-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 26px;
}

#u3167.MuseMenuActive #u3168-4,#u3196:hover #u3197-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3226
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3196.MuseMenuActive,#u3226:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3229-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 26px;
}

#u3196.MuseMenuActive #u3197-4,#u3226:hover #u3229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3226.MuseMenuActive #u3229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3247
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3226.MuseMenuActive,#u3247:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3250-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u3247:hover #u3250-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u3247.MuseMenuActive #u3250-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u3282
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3247.MuseMenuActive,#u3282:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3285-4
{
	width: 78px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u3282:hover #u3285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u3282.MuseMenuActive #u3285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u3301
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3282.MuseMenuActive,#u3301:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3302-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u3115.MuseMenuActive #u3117-4,#u3301:hover #u3302-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3331
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3301.MuseMenuActive,#u3331:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3332-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u3301.MuseMenuActive #u3302-4,#u3331:hover #u3332-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3372
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331.MuseMenuActive,#u3372:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3375-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u3331.MuseMenuActive #u3332-4,#u3372:hover #u3375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3372.MuseMenuActive #u3375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3388
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3372.MuseMenuActive,#u3388:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3391-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3388:hover #u3391-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3421
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3388.MuseMenuActive,#u3421:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3423-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3388.MuseMenuActive #u3391-4,#u3421:hover #u3423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3456
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3421.MuseMenuActive,#u3456:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3459-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3421.MuseMenuActive #u3423-4,#u3456:hover #u3459-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3477
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3456.MuseMenuActive,#u3477:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3480-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3456.MuseMenuActive #u3459-4,#u3477:hover #u3480-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3532
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3477.MuseMenuActive,#u3532:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3535-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3477.MuseMenuActive #u3480-4,#u3532:hover #u3535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3567
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3532.MuseMenuActive,#u3567:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3570-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3532.MuseMenuActive #u3535-4,#u3567:hover #u3570-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3588
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3567.MuseMenuActive,#u3588:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3591-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3567.MuseMenuActive #u3570-4,#u3588:hover #u3591-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3616
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3588.MuseMenuActive,#u3616:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3618-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3588.MuseMenuActive #u3591-4,#u3616:hover #u3618-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3646
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3616.MuseMenuActive,#u3646:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3648-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3616.MuseMenuActive #u3618-4,#u3646:hover #u3648-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3674
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3646.MuseMenuActive,#u3674:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3677-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3646.MuseMenuActive #u3648-4,#u3674:hover #u3677-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3702
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3674.MuseMenuActive,#u3702:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3704-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3674.MuseMenuActive #u3677-4,#u3702:hover #u3704-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3728
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3702.MuseMenuActive,#u3728:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3730-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3702.MuseMenuActive #u3704-4,#u3728:hover #u3730-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3758
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3728.MuseMenuActive,#u3758:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3760-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3728.MuseMenuActive #u3730-4,#u3758:hover #u3760-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3784
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3758.MuseMenuActive,#u3784:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3787-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3758.MuseMenuActive #u3760-4,#u3784:hover #u3787-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3812
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3784.MuseMenuActive,#u3812:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3815-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3784.MuseMenuActive #u3787-4,#u3812:hover #u3815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3812.MuseMenuActive #u3815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3007,#u3000,#u3014,#u3057,#u3086,#u3114,#u3129,#u3166,#u3195,#u3223,#u3244,#u3279,#u3300,#u3328,#u3371,#u3385,#u3420,#u3455,#u3476,#u3531,#u3566,#u3587,#u3615,#u3643,#u3671,#u3699,#u3727,#u3755,#u3783,#u3811,#u3839
{
	width: 128px;
}

#u3842
{
	width: 126px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3812.MuseMenuActive,#u3842:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3845-4
{
	width: 118px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3842:hover #u3845-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3842.MuseMenuActive #u3845-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2958
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u2961
{
	width: 105px;
	padding-bottom: 12px;
}

#u2961.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u2962-4
{
	width: 85px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2961:hover #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2961:active #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2961.MuseMenuActive #u2962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#pu2938
{
	width: 0.01px;
	margin-left: -100px;
}

#u2938
{
	z-index: 9;
	min-height: 71px;
	padding-bottom: 14px;
}

#u2938_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u3036-4
{
	z-index: 392;
	width: 624px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 122px;
}

#u2938-bw
{
	z-index: 9;
	min-height: 71px;
}

#u2939
{
	z-index: 12;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u2941
{
	z-index: 15;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u2945
{
	z-index: 18;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u3022
{
	z-index: 21;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u2948
{
	z-index: 24;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u2939:hover,#u2941:hover,#u2945:hover,#u3022:hover,#u2948:hover
{
	height: 54px;
	width: 54px;
}

#u3035
{
	z-index: 391;
	width: 910px;
	height: 2px;
	margin-left: 22px;
	margin-top: 25px;
}

#pu3349-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 21px;
}

#u3349-3
{
	z-index: 2;
	width: 291px;
	min-height: 1228px;
	margin-right: -10000px;
	left: 746px;
}

#u3024
{
	z-index: 10;
	height: 21px;
}

#u3024-bw
{
	z-index: 10;
	margin-top: 1447px;
	height: 21px;
}

#u2943
{
	z-index: 265;
	width: 170px;
	min-height: 170px;
	margin-right: -10000px;
	margin-top: 1265px;
	left: 868px;
}

#u3034-125
{
	z-index: 266;
	width: 236px;
	min-height: 287px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 773px;
}

#u2947-6
{
	z-index: 396;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 1420px;
	left: 369px;
}

#u3661-64
{
	z-index: 402;
	width: 583px;
	min-height: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u3661-62
{
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: #262626;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

