.version.blog /* version checker */
{
	color: #0000ED;
	background-color: #AB763A;
}

.html
{
	background: #FFFFFF url("../images/background.jpg") no-repeat center bottom scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1706.6000000000015px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
	width: 0.01px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 30;
	width: 590px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 74px;
	padding-bottom: 12px;
}

#u2102:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2102.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 53px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2102.MuseMenuActive #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 77px;
}

#u2090
{
	width: 112px;
	padding-bottom: 12px;
}

#u2090.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2090.MuseMenuActive #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 192px;
}

#u2095
{
	width: 122px;
	padding-bottom: 12px;
}

#u2095.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2096-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2095.MuseMenuActive #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2098
{
	z-index: 49;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 97px;
}

#u2099
{
	width: 100px;
	top: 34px;
}

#u2100
{
	width: 100px;
}

#u2100:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u2463
{
	width: 100px;
}

#u2464
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2464:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2466-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2464:hover #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2740
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
	left: 317px;
}

#u2750
{
	width: 77px;
	padding-bottom: 12px;
}

#u2750.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u2753-4
{
	width: 56px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2750:hover #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u2750:active #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u2750.MuseMenuActive #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u2285
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 397px;
}

#u2288
{
	width: 85px;
	padding-bottom: 12px;
}

#u2288.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2290-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2288:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2288:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2288.MuseMenuActive #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2291
{
	z-index: 70;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 60px;
}

#u2095.MuseMenuActive #u2098,#u2288.MuseMenuActive #u2291
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 120px;
	top: 34px;
}

#u2287
{
	width: 120px;
}

#u2287:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u2439
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 18px;
}

#u2439:hover #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2576
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439.MuseMenuActive,#u2576:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 18px;
}

#u2439.MuseMenuActive #u2440-4,#u2576:hover #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2576.MuseMenuActive #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2438,#u2575,#u2607
{
	width: 120px;
}

#u2608
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2576.MuseMenuActive,#u2608:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2608.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2609-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 5px;
}

#u2608:hover #u2609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u2608.MuseMenuActive #u2609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 485px;
}

#u2111
{
	width: 105px;
	padding-bottom: 12px;
}

#u2111.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u2113-4
{
	width: 85px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

#u86
{
	z-index: 6;
	min-height: 71px;
	padding-bottom: 14px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2229-4
{
	z-index: 114;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 122px;
}

#u86-bw
{
	z-index: 6;
	min-height: 71px;
}

#u988
{
	z-index: 9;
	min-height: 51px;
	min-width: 51px;
	height: 51px;
	width: 51px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u990
{
	z-index: 12;
	min-height: 51px;
	min-width: 51px;
	height: 51px;
	width: 51px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u992
{
	z-index: 15;
	min-height: 51px;
	min-width: 51px;
	height: 51px;
	width: 51px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u994
{
	z-index: 18;
	min-height: 51px;
	min-width: 51px;
	height: 51px;
	width: 51px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u996
{
	z-index: 21;
	min-height: 51px;
	min-width: 51px;
	height: 51px;
	width: 51px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u988:hover,#u990:hover,#u992:hover,#u994:hover,#u996:hover
{
	height: 48px;
	width: 48px;
}

#u2262
{
	z-index: 97;
	width: 910px;
	height: 2px;
	border-color: #000000;
	background-color: #CCDB2A;
	margin-left: 22px;
	margin-top: 25px;
	position: relative;
}

#ppu2230
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 21px;
}

#pu2230
{
	z-index: 98;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 624px;
}

#u2230
{
	z-index: 0;
	width: 291px;
	background: -webkit-gradient(linear, left center, right center, from(#00A318),color-stop(100%, #00F816));
	background: -webkit-linear-gradient(left,#00A318 ,#00F816 100%);
	background: linear-gradient(to right,#00A318 ,#00F816 100%);
	filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00A318, endColorstr=#FF00F816, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00A318', endColorstr='#FF00F816', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.75;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2232-15
{
	width: 0.01px;
	position: relative;
	left: 27px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 167px;
}

#u2232-15
{
	z-index: 99;
	width: 236px;
	min-height: 287px;
	background-color: transparent;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1999-3
{
	z-index: 27;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 554px;
	left: 214px;
}

#u2625-79
{
	z-index: 124;
	width: 583px;
	min-height: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2625-77
{
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: #262626;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u2231-6
{
	z-index: 118;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	margin-left: 269px;
	margin-top: 7px;
	position: relative;
}

#u547
{
	z-index: 7;
	height: 21px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 21px;
	height: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 19px;
}

