.version.contact /* version checker */
{
	color: #0000F6;
	background-color: #E4934D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 721px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u229,#u229-bw
{
	z-index: 6;
	height: 22px;
}

#pu227-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 58px;
}

#u227-4
{
	z-index: 2;
	width: 352px;
	min-height: 61px;
	margin-right: -10000px;
}

#menuu1575
{
	z-index: 24;
	width: 423px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 493px;
}

#u1583
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1586
{
	width: 103px;
	padding-bottom: 16px;
}

#u1586:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1586:active
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1589-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1586:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1586:active #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1576
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 106px;
}

#u1577
{
	width: 103px;
	padding-bottom: 16px;
}

#u1580-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1586.MuseMenuActive #u1589-4,#u1577:hover #u1580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1577:active #u1580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1604
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 212px;
}

#u1621
{
	width: 103px;
	padding-bottom: 16px;
}

#u1586.MuseMenuActive,#u1577.MuseMenuActive,#u1621.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1624-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1577.MuseMenuActive #u1580-4,#u1621:hover #u1624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1621:active #u1624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1625
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 318px;
}

#u1626
{
	width: 105px;
	padding-bottom: 16px;
}

#u1626.MuseMenuActive
{
	margin: 0px;
}

#u1629-4
{
	width: 105px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1621.MuseMenuActive #u1624-4,#u1626:hover #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1626:active #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1626.MuseMenuActive #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#pu228
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 37px;
}

#u228
{
	z-index: 7;
	padding-bottom: 4px;
}

._u228.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 65px;
}

#u228_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	left: -100px;
}

#u835-4
{
	z-index: 49;
	width: 329px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 111px;
}

#u228-bw
{
	z-index: 7;
}

#u1003
{
	z-index: 9;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 753px;
}

#u1005
{
	z-index: 12;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 818px;
}

#u1007
{
	z-index: 15;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 876px;
}

#u1009
{
	z-index: 18;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 934px;
}

#u1011
{
	z-index: 21;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 992px;
}

#u837
{
	z-index: 53;
	width: 916px;
	min-height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 16px;
	position: relative;
}

#u1890-4
{
	z-index: 54;
	width: 525px;
	min-height: 35px;
	background-color: transparent;
	margin-left: 80px;
	margin-top: 37px;
	position: relative;
}

#u2004-4
{
	z-index: 58;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	margin-left: 289px;
	margin-top: 50px;
	position: relative;
}

#u1574
{
	z-index: 23;
}

._u1574.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 1px;
}

._u228.f9s_top_mid,._u228.f9s_bot_mid,._u1574.f9s_top_mid,._u1574.f9s_bot_mid
{
	margin-left: 10px;
	margin-right: 8px;
	height: 10px;
}

#u1574-bw
{
	z-index: 23;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 19px;
}

