.version.contact /* version checker */
{
	color: #0000F3;
	background-color: #0815DD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u229,#u229-bw
{
	z-index: 6;
	height: 22px;
}

#pu227-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 58px;
}

#u227-4
{
	z-index: 2;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
}

#menuu2119
{
	z-index: 24;
	width: 546px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 390px;
}

#u2134
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2135
{
	width: 134px;
	padding-bottom: 5px;
}

#u2135:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2135:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2136-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2135:hover #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2135:active #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2141
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 137px;
}

#u2142
{
	width: 134px;
	padding-bottom: 5px;
}

#u2143-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2135.MuseMenuActive #u2136-4,#u2142:hover #u2143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2142:active #u2143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2127
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 274px;
}

#u2128
{
	width: 134px;
	padding-bottom: 5px;
}

#u2135.MuseMenuActive,#u2142.MuseMenuActive,#u2128.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2130-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2142.MuseMenuActive #u2143-4,#u2128:hover #u2130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2128:active #u2130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2120
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 411px;
}

#u2123
{
	width: 135px;
	padding-bottom: 5px;
}

#u2123.MuseMenuActive
{
	margin: 0px;
}

#u2125-4
{
	width: 135px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2128.MuseMenuActive #u2130-4,#u2123:hover #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2123:active #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2123.MuseMenuActive #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu228
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 36px;
}

#u228
{
	z-index: 7;
	padding-bottom: 4px;
}

._u228.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 65px;
}

#u228_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	left: -100px;
}

#u835-4
{
	z-index: 49;
	width: 604px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 111px;
}

#u228-bw
{
	z-index: 7;
}

#u1003
{
	z-index: 9;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 753px;
}

#u1005
{
	z-index: 12;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 818px;
}

#u1007
{
	z-index: 15;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 876px;
}

#u1009
{
	z-index: 18;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 934px;
}

#u1011
{
	z-index: 21;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 992px;
}

#u1890-4
{
	z-index: 54;
	width: 525px;
	min-height: 35px;
	background-color: transparent;
	font-size: 18px;
	margin-left: 52px;
	margin-top: 22px;
	position: relative;
}

#u837
{
	z-index: 53;
	width: 916px;
	min-height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 11px;
	position: relative;
}

#u2004-4
{
	z-index: 58;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	margin-left: 289px;
	margin-top: 70px;
	position: relative;
}

#u1574
{
	z-index: 23;
}

._u1574.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 1px;
}

._u228.f9s_top_mid,._u228.f9s_bot_mid,._u1574.f9s_top_mid,._u1574.f9s_bot_mid
{
	margin-left: 10px;
	margin-right: 8px;
	height: 10px;
}

#u1574-bw
{
	z-index: 23;
	margin-top: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 19px;
}

