.version.free_massage /* version checker */
{
	color: #000013;
	background-color: #627F7D;
}

.html
{
	background: #FFFFFF url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 658px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 30;
	width: 550px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 80px;
	padding-bottom: 10px;
}

#u2102:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2102.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 59px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u2090
{
	width: 122px;
	padding-bottom: 10px;
}

#u2090.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 101px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2102.MuseMenuActive #u2103-4,#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 133px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u2095
{
	width: 132px;
	padding-bottom: 10px;
}

#u2095.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u2096-4
{
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2090.MuseMenuActive #u2091-4,#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2098
{
	z-index: 49;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 107px;
}

#u2099
{
	width: 100px;
	top: 34px;
}

#u2100
{
	width: 100px;
}

#u2463
{
	width: 100px;
}

#u2464
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2464:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2466-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2464:hover #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2285
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 343px;
}

#u2288
{
	width: 90px;
	padding-bottom: 10px;
}

#u2288.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u2290-4
{
	width: 55px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2095.MuseMenuActive #u2096-4,#u2288:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2288:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2291
{
	z-index: 64;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 65px;
}

#u2095.MuseMenuActive #u2098,#u2288.MuseMenuActive #u2291
{
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 120px;
	top: 34px;
}

#u2287
{
	width: 120px;
}

#u2438
{
	width: 120px;
}

#u2439
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 18px;
}

#u2464.MuseMenuActive #u2466-4,#u2439:hover #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
	left: 436px;
}

#u2111
{
	width: 114px;
	padding-bottom: 10px;
}

#u2100:hover,#u2287:hover,#u2111.MuseMenuActive
{
	margin: 0px;
}

#u2113-4
{
	width: 94px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2288.MuseMenuActive #u2290-4,#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

._u86.f9s_center
{
	margin-left: 18px;
	margin-right: 16px;
	height: 51px;
}

._u86.f9s_top_mid,._u86.f9s_bot_mid
{
	margin-left: 17px;
	margin-right: 15px;
	height: 17px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 926px;
	left: -100px;
}

#u2481-4
{
	z-index: 79;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 104px;
}

#u86,#u86-bw
{
	z-index: 6;
}

#u988
{
	z-index: 9;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u990
{
	z-index: 12;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u992
{
	z-index: 15;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u994
{
	z-index: 18;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u996
{
	z-index: 21;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u2482-6
{
	z-index: 83;
	width: 624px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 54px;
	position: relative;
}

#u2483
{
	z-index: 89;
	width: 354px;
	min-height: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: #FF3031;
	background-color: #99FF9A;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 21px;
	margin-top: 36px;
	position: relative;
}

#pu1999-3
{
	width: 0.01px;
	margin-left: 236px;
	margin-top: 334px;
}

#u1999-3
{
	z-index: 27;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2485-6
{
	z-index: 90;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u547
{
	z-index: 7;
}

._u547.f9s_center
{
	margin-left: 10px;
	margin-right: 8px;
	height: 3px;
}

._u547.f9s_top_mid,._u547.f9s_bot_mid
{
	margin-left: 9px;
	margin-right: 7px;
	height: 9px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

