.version.index /* version checker */
{
	color: #00001F;
	background-color: #321BDA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 740.8500000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u229,#u229-bw
{
	z-index: 6;
	height: 22px;
}

#pu227-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 58px;
}

#u227-4
{
	z-index: 2;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
}

#menuu2119
{
	z-index: 24;
	width: 546px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 390px;
}

#u2134
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2135
{
	width: 134px;
	padding-bottom: 5px;
}

#u2135:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2135:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2136-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2135:hover #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2135:active #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2141
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 137px;
}

#u2142
{
	width: 134px;
	padding-bottom: 5px;
}

#u2143-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2135.MuseMenuActive #u2136-4,#u2142:hover #u2143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2142:active #u2143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2127
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 274px;
}

#u2128
{
	width: 134px;
	padding-bottom: 5px;
}

#u2135.MuseMenuActive,#u2142.MuseMenuActive,#u2128.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2130-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2142.MuseMenuActive #u2143-4,#u2128:hover #u2130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2128:active #u2130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2120
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 411px;
}

#u2123
{
	width: 135px;
	padding-bottom: 5px;
}

#u2123.MuseMenuActive
{
	margin: 0px;
}

#u2125-4
{
	width: 135px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2128.MuseMenuActive #u2130-4,#u2123:hover #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2123:active #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2123.MuseMenuActive #u2125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu228
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 36px;
}

#u228
{
	z-index: 7;
	padding-bottom: 4px;
}

._u228.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 65px;
}

#u228_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	left: -100px;
}

#u987-4
{
	z-index: 121;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 111px;
}

#u228-bw
{
	z-index: 7;
}

#u1003
{
	z-index: 9;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 753px;
}

#u1005
{
	z-index: 12;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 818px;
}

#u1007
{
	z-index: 15;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 876px;
}

#u1009
{
	z-index: 18;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 934px;
}

#u1011
{
	z-index: 21;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 992px;
}

#pu401
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 69px;
}

#u401
{
	z-index: 49;
	width: 420px;
	border-color: #000000;
	background-color: #262626;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 494px;
}

#u1993
{
	z-index: 129;
	width: 395px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 12px;
}

#u404
{
	z-index: 54;
	width: 281px;
	height: 55px;
	border-color: #CCDB2A;
	background-color: #FF0000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
}

#u407
{
	z-index: 55;
	width: 432px;
	height: 55px;
	border-color: #CCDB2A;
	background-color: #FF0000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u408
{
	z-index: 56;
	width: 364px;
	height: 55px;
	border-color: #CCDB2A;
	background-color: #FF0000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
}

#u409
{
	z-index: 57;
	width: 182px;
	height: 55px;
	border-color: #CCDB2A;
	background-color: #FF0000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
}

#u213-10
{
	z-index: 58;
	width: 433px;
	min-height: 278px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 13px;
}

#u442-4
{
	z-index: 72;
	width: 212px;
	min-height: 33px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 42px;
	position: relative;
}

#u444
{
	z-index: 84;
	width: 914px;
	height: 2px;
	border-color: #000000;
	background-color: #CCDB2A;
	margin-left: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu1113
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 18px;
}

#u1113
{
	z-index: 125;
	width: 214px;
	height: 229px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/tui_na_bbbacupuncture-u1113-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1115
{
	z-index: 126;
	width: 214px;
	height: 229px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 234px;
	background: #FFFFFF url("../images/lamps-lanterns-chinese-characters-photo-wallpaper-1680x1050-u1115-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1116
{
	z-index: 127;
	width: 214px;
	height: 229px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 468px;
	background: #FFFFFF url("../images/tai-chi-tree-u1116-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1117
{
	z-index: 128;
	width: 214px;
	height: 229px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 703px;
	background: #FFFFFF url("../images/redwoods.jpg") no-repeat left top;
}

#pu1131
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 7px;
}

#u1131
{
	z-index: 50;
	width: 214px;
	border-color: #000000;
	background-color: #262626;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u1130-4
{
	z-index: 96;
	width: 175px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u1133
{
	z-index: 51;
	width: 214px;
	border-color: #000000;
	background-color: #262626;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u1132-4
{
	z-index: 100;
	width: 175px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u1135
{
	z-index: 52;
	width: 214px;
	border-color: #000000;
	background-color: #262626;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u1134-4
{
	z-index: 104;
	width: 175px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u1137
{
	z-index: 53;
	width: 214px;
	border-color: #000000;
	background-color: #262626;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 703px;
}

#u1136-4
{
	z-index: 108;
	width: 175px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#pu522-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 45px;
}

#u522-4
{
	z-index: 76;
	width: 212px;
	min-height: 33px;
	background-color: transparent;
	color: #CCDB2A;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: left;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u526-4
{
	z-index: 80;
	width: 212px;
	min-height: 33px;
	background-color: transparent;
	color: #CCDB2A;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: left;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#u521
{
	z-index: 85;
	width: 422px;
	height: 2px;
	border-color: #000000;
	background-color: #CCDB2A;
	margin-left: 24px;
	top: -3px;
	margin-bottom: -2px;
	position: relative;
}

#u525
{
	z-index: 86;
	width: 448px;
	height: 2px;
	border-color: #000000;
	background-color: #CCDB2A;
	margin-left: 490px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu527-9
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 21px;
}

#u527-9
{
	z-index: 87;
	width: 422px;
	min-height: 189px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u527-6
{
	line-height: 1.4;
	color: #262626;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u527-5,#u527-7
{
	line-height: 1.4;
	color: #999999;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u528-7
{
	z-index: 112;
	width: 446px;
	min-height: 180px;
	background-color: transparent;
	line-height: 1.4;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 466px;
}

#u528-2,#u528-3,#u528-4
{
	color: #262626;
}

#u528-5
{
	color: #999999;
}

#u216-4
{
	z-index: 68;
	width: 857px;
	min-height: 95px;
	background-color: transparent;
	color: #262626;
	font-size: 22px;
	letter-spacing: 1px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 20px;
	position: relative;
}

#pu982
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 28px;
}

#u982
{
	z-index: 119;
	width: 916px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u982_img
{
	padding-right: 734px;
}

#u2001-4
{
	z-index: 131;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 267px;
}

#u1574
{
	z-index: 23;
}

._u1574.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 1px;
}

._u228.f9s_top_mid,._u228.f9s_bot_mid,._u1574.f9s_top_mid,._u1574.f9s_bot_mid
{
	margin-left: 10px;
	margin-right: 8px;
	height: 10px;
}

#u1574-bw
{
	z-index: 23;
	margin-top: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 19px;
}

