.version.learning /* version checker */
{
	color: #0000EE;
	background-color: #C5805A;
}

.html
{
	background: #FFFFFF url("../images/background.jpg") no-repeat center bottom scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1319.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 30;
	width: 546px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 107px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 106px;
	padding-bottom: 10px;
}

#u2102:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 106px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 107px;
	min-height: 34px;
	margin-right: -10000px;
	left: 109px;
}

#u2090
{
	width: 106px;
	padding-bottom: 10px;
}

#u2102.MuseMenuActive,#u2090.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 106px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u2102.MuseMenuActive #u2103-4,#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 218px;
}

#u2095
{
	width: 107px;
	padding-bottom: 10px;
}

#u2096-4
{
	width: 107px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u2090.MuseMenuActive #u2091-4,#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2285
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 328px;
}

#u2288
{
	width: 107px;
	padding-bottom: 10px;
}

#u2095.MuseMenuActive,#u2288.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u2290-4
{
	width: 93px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u2095.MuseMenuActive #u2096-4,#u2288:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2288:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2291
{
	z-index: 55;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 93px;
}

#u2288.MuseMenuActive #u2291
{
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 120px;
	top: 34px;
}

#u2287,#u2438
{
	width: 120px;
}

#u2439
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2439:hover #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 438px;
}

#u2111
{
	width: 108px;
	padding-bottom: 10px;
}

#u2111.MuseMenuActive
{
	margin: 0px;
}

#u2113-4
{
	width: 108px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u2288.MuseMenuActive #u2290-4,#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

._u86.f9s_center
{
	margin-left: 18px;
	margin-right: 16px;
	height: 51px;
}

._u86.f9s_top_mid,._u86.f9s_bot_mid
{
	margin-left: 17px;
	margin-right: 15px;
	height: 17px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 926px;
	left: -100px;
}

#u981-4
{
	z-index: 150;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 104px;
}

#u86,#u86-bw
{
	z-index: 6;
}

#u988
{
	z-index: 9;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u990
{
	z-index: 12;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u992
{
	z-index: 15;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u994
{
	z-index: 18;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u996
{
	z-index: 21;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#slideshowu673
{
	z-index: 70;
	width: 0.01px;
	height: 319px;
	left: -16px;
	margin-top: 16px;
	position: relative;
}

#u675
{
	position: absolute;
	width: 916px;
	height: 319px;
	background-color: transparent;
	left: 38px;
}

#u675popup
{
	z-index: 71;
}

#u1766
{
	z-index: 72;
	width: 916px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1766_img
{
	padding-left: 11px;
	padding-right: 11px;
}

#u2060
{
	z-index: 74;
	width: 916px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2060_img
{
	padding-left: 8px;
	padding-right: 8px;
}

#u2074
{
	z-index: 76;
	width: 916px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2074_img
{
	padding: 9px 8px;
}

#u689-3
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 135px;
	background: transparent url("../images/arrow_left.png") no-repeat center center;
}

#u689-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px;
}

#u689-3popup
{
	z-index: 78;
}

#u674-3
{
	position: absolute;
	width: 30px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 130px;
	left: 961px;
	background: transparent url("../images/arrow_right.png") no-repeat center center;
}

#u674-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px;
}

#u674-3popup
{
	z-index: 81;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u733-6
{
	z-index: 84;
	width: 857px;
	min-height: 64px;
	background-color: transparent;
	color: #262626;
	font-size: 22px;
	letter-spacing: 1px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 23px;
	position: relative;
}

#u745
{
	z-index: 134;
	width: 910px;
	height: 2px;
	border-color: #000000;
	background-color: #CCDB2A;
	margin-left: 22px;
	margin-top: 13px;
	position: relative;
}

#u746-4
{
	z-index: 128;
	width: 604px;
	min-height: 38px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 39px;
	position: relative;
}

#pu1999-3
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 5px;
}

#u1999-3
{
	z-index: 27;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 83px;
	left: 214px;
}

#u734
{
	z-index: 132;
	width: 604px;
	height: 246px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/kid_writing_chinese_on_a_board.jpg") no-repeat center bottom;
	background-size: cover;
}

#u831
{
	z-index: 133;
	width: 292px;
	height: 246px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 624px;
	background: #FFFFFF url("../images/tai-chi-tree-u831-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu747-38
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 26px;
}

#u747-38
{
	z-index: 90;
	width: 583px;
	min-height: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u747-36
{
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: #262626;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u748
{
	z-index: 135;
	width: 291px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #262626;
	padding-bottom: 157px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u829-14
{
	z-index: 136;
	width: 236px;
	min-height: 287px;
	background-color: transparent;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 26px;
}

#u2002-6
{
	z-index: 154;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	margin-left: 269px;
	margin-top: 24px;
	position: relative;
}

#u547
{
	z-index: 7;
}

._u547.f9s_center
{
	margin-left: 10px;
	margin-right: 8px;
	height: 3px;
}

._u547.f9s_top_mid,._u547.f9s_bot_mid
{
	margin-left: 9px;
	margin-right: 7px;
	height: 9px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

