.version.massage /* version checker */
{
	color: #0000F5;
	background-color: #FBAC7B;
}

.html
{
	background: #005518 url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1215px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 30;
	width: 546px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 134px;
	padding-bottom: 5px;
}

#u2102:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 137px;
}

#u2090
{
	width: 134px;
	padding-bottom: 5px;
}

#u2091-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2102.MuseMenuActive #u2103-4,#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 274px;
}

#u2095
{
	width: 134px;
	padding-bottom: 5px;
}

#u2102.MuseMenuActive,#u2090.MuseMenuActive,#u2095.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2096-4
{
	width: 134px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2090.MuseMenuActive #u2091-4,#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 411px;
}

#u2111
{
	width: 135px;
	padding-bottom: 5px;
}

#u2113-4
{
	width: 135px;
	min-height: 29px;
	margin-right: -10000px;
	top: 2px;
}

#u2095.MuseMenuActive #u2096-4,#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

._u86.f9s_center
{
	margin-left: 18px;
	margin-right: 16px;
	height: 51px;
}

._u86.f9s_top_mid,._u86.f9s_bot_mid
{
	margin-left: 17px;
	margin-right: 15px;
	height: 17px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 926px;
	left: -100px;
}

#u1530-4
{
	z-index: 178;
	width: 620px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 104px;
}

#u86,#u86-bw
{
	z-index: 6;
}

#u988
{
	z-index: 9;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 748px;
}

#u990
{
	z-index: 12;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 813px;
}

#u992
{
	z-index: 15;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 871px;
}

#u994
{
	z-index: 18;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 929px;
}

#u996
{
	z-index: 21;
	height: 54px;
	width: 54px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 987px;
}

#u1112-4
{
	z-index: 106;
	width: 234px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 41px;
	position: relative;
}

#pu1068
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
}

#u1068
{
	z-index: 56;
	width: 210px;
	height: 159px;
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/swedish-massage--u1068-fr.png") no-repeat center center;
	background-size: cover;
}

#u1069
{
	z-index: 57;
	width: 210px;
	height: 159px;
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 232px;
	background: #FFFFFF url("../images/deeptissue-u1069-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1070
{
	z-index: 58;
	width: 210px;
	height: 159px;
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 466px;
	background: #FFFFFF url("../images/hotstone-u1070-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1071
{
	z-index: 59;
	width: 210px;
	height: 159px;
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 700px;
	background: #FFFFFF url("../images/footmassage-u1071-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#pamphletu1072
{
	z-index: 60;
	width: 0.01px;
	height: 174px;
	padding-bottom: 224px;
	margin-bottom: -87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1073
{
	position: absolute;
	width: 915px;
	top: 199px;
}

#u1073popup
{
	z-index: 61;
}

#u1080
{
	z-index: 62;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1081-6
{
	z-index: 63;
	width: 846px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1893
{
	z-index: 69;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 926px;
}

#u1074
{
	z-index: 70;
	width: 915px;
	height: 203px;
	border-color: #999999;
	background-color: transparent;
	margin-bottom: -87px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u1531
{
	z-index: 84;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 23px;
}

#u1531_clip
{
	overflow: hidden;
	width: 162px;
	height: 89px;
}

#u1531_img
{
	margin-right: 41px;
	margin-bottom: -2px;
}

#u1075-6
{
	z-index: 71;
	width: 632px;
	min-height: 91px;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 234px;
}

#u1075
{
	font-size: 1px;
	line-height: 0px;
}

#u1076
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#u1077-6
{
	z-index: 77;
	width: 552px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u1082
{
	z-index: 86;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1083-6
{
	z-index: 87;
	width: 846px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u1078
{
	z-index: 93;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1079-6
{
	z-index: 94;
	width: 846px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u1081-2,#u1077-2,#u1083-2,#u1079-2
{
	font-size: 18px;
}

#u1081-4,#u1077-4,#u1083-4,#u1079-4
{
	line-height: 1.4;
}

#u1088
{
	z-index: 100;
	width: 916px;
	position: relative;
	margin-right: -10000px;
}

#u1092
{
	position: absolute;
	width: 214px;
	height: 172px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 2px;
}

.ie #u1893,.ie #u1092
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1092:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1092:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2111.MuseMenuActive,#u1092.PamphletThumbSelected
{
	margin: 0px;
}

#u1895
{
	position: absolute;
	width: 214px;
	height: 172px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 2px;
	left: 224px;
}

.ie #u1092.PamphletThumbSelected,.ie #u1895
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1895:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1895:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1895:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1895:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1895.PamphletThumbSelected
{
	margin: 0px;
}

#u1091
{
	position: absolute;
	width: 219px;
	height: 174px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 229px;
}

.ie #u1895.PamphletThumbSelected,.ie #u1091
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1091:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1091:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091.PamphletThumbSelected
{
	margin: 0px;
}

#u1090
{
	position: absolute;
	width: 214px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 3px;
	left: 468px;
}

.ie #u1091.PamphletThumbSelected,.ie #u1090
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1090:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1090:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090.PamphletThumbSelected
{
	margin: 0px;
}

#u1089
{
	position: absolute;
	width: 214px;
	height: 172px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 2px;
	left: 702px;
}

.ie #u1090.PamphletThumbSelected,.ie #u1089
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

.ie #u1089:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1089:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1089.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1067
{
	z-index: 55;
	width: 916px;
	height: 124px;
	border-color: #000000;
	background-color: #262626;
	margin-left: 22px;
	top: -118px;
	margin-bottom: -118px;
	position: relative;
}

#u1139-4
{
	z-index: 110;
	width: 660px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 49px;
	position: relative;
}

#pu1999-3
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 14px;
}

#u1999-3
{
	z-index: 27;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 214px;
}

#tab-panelu1140
{
	z-index: 114;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1175
{
	z-index: 115;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1184
{
	z-index: 116;
	width: 241px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u1184:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1184:active
{
	background-color: #262626;
	margin: 0px -10000px 0px 0px;
}

#u1187-4
{
	z-index: 117;
	width: 241px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1184:hover #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1184:active #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1184:hover #u1187-4 p,#u1184:hover #u1187-4 h2
{
	text-decoration: underline;
}

#u1184:active #u1187-4 p,#u1184:active #u1187-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1176
{
	z-index: 121;
	width: 241px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1176:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1176:active
{
	background-color: #262626;
	margin: 0px -10000px 0px 0px;
}

#u1179-4
{
	z-index: 122;
	width: 241px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1184.TabbedPanelsTabSelected #u1187-4,#u1176:hover #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1176:active #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1176:hover #u1179-4 p,#u1176:hover #u1179-4 h2
{
	text-decoration: underline;
}

#u1176:active #u1179-4 p,#u1176:active #u1179-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1180
{
	z-index: 126;
	width: 241px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u1180:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1180:active
{
	background-color: #262626;
	margin: 0px -10000px 0px 0px;
}

#u1181-4
{
	z-index: 127;
	width: 241px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1176.TabbedPanelsTabSelected #u1179-4,#u1180:hover #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1180:active #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1180:hover #u1181-4 p,#u1180:hover #u1181-4 h2
{
	text-decoration: underline;
}

#u1180:active #u1181-4 p,#u1180:active #u1181-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1233
{
	z-index: 131;
	width: 241px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#u1233:hover
{
	background-color: #F7941F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active
{
	background-color: #262626;
	margin: 0px -10000px 0px 0px;
}

#u1184.TabbedPanelsTabSelected,#u1176.TabbedPanelsTabSelected,#u1180.TabbedPanelsTabSelected,#u1233.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #262626;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1236-4
{
	z-index: 132;
	width: 241px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1180.TabbedPanelsTabSelected #u1181-4,#u1233:hover #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1233.TabbedPanelsTabSelected #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1233:hover #u1236-4 p,#u1233:hover #u1236-4 h2
{
	text-decoration: underline;
}

#u1233:active #u1236-4 p,#u1233:active #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1184.TabbedPanelsTabSelected #u1187-4 p,#u1184.TabbedPanelsTabSelected #u1187-4 h2,#u1176.TabbedPanelsTabSelected #u1179-4 p,#u1176.TabbedPanelsTabSelected #u1179-4 h2,#u1180.TabbedPanelsTabSelected #u1181-4 p,#u1180.TabbedPanelsTabSelected #u1181-4 h2,#u1233.TabbedPanelsTabSelected #u1236-4 p,#u1233.TabbedPanelsTabSelected #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: underline;
	font-size: 16px;
}

#u1162
{
	z-index: 136;
	width: 961px;
	background-color: transparent;
	position: relative;
}

#u1171
{
	z-index: 137;
	width: 961px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1172-6
{
	z-index: 138;
	width: 283px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1247
{
	z-index: 144;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 546px;
}

#u1247_img
{
	padding-bottom: 40px;
}

#u1167
{
	z-index: 146;
	width: 961px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1987
{
	z-index: 154;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 61px;
}

#u1225-7
{
	z-index: 147;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 487px;
}

#u1163
{
	z-index: 156;
	width: 961px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 33px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1830-6
{
	z-index: 157;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1941
{
	z-index: 163;
	width: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 597px;
}

#u1237
{
	z-index: 165;
	width: 961px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1834-6
{
	z-index: 166;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1838
{
	z-index: 172;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 492px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u2045-6
{
	z-index: 182;
	width: 800px;
	min-height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #005F00;
	margin-left: 80px;
	margin-top: 41px;
	position: relative;
}

#u2045-2
{
	font-size: 28px;
	text-align: center;
}

#u2045-4
{
	font-size: 28px;
	text-align: left;
	padding-left: 15px;
	color: #E6FFF5;
}

#u2003-4
{
	z-index: 174;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 72px;
	position: relative;
}

#u547
{
	z-index: 7;
}

._u547.f9s_center
{
	margin-left: 11px;
	margin-right: 9px;
	height: 1px;
}

._u547.f9s_top_mid,._u547.f9s_bot_mid
{
	margin-left: 10px;
	margin-right: 8px;
	height: 10px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

