.version.massage /* version checker */
{
	color: #00001D;
	background-color: #E972F1;
}

.html
{
	background: #005518 url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1215px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 30;
	width: 550px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 80px;
	padding-bottom: 10px;
}

#u2102:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2102.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 59px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u2090
{
	width: 122px;
	padding-bottom: 10px;
}

#u2090.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 101px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2102.MuseMenuActive #u2103-4,#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 133px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u2095
{
	width: 132px;
	padding-bottom: 10px;
}

#u2095.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u2096-4
{
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2090.MuseMenuActive #u2091-4,#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2098
{
	z-index: 49;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 107px;
}

#u2099
{
	width: 100px;
	top: 34px;
}

#u2100
{
	width: 100px;
}

#u2463
{
	width: 100px;
}

#u2464
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2464:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2466-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2464:hover #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2285
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 343px;
}

#u2288
{
	width: 90px;
	padding-bottom: 10px;
}

#u2288.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u2290-4
{
	width: 55px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2095.MuseMenuActive #u2096-4,#u2288:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2288:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2291
{
	z-index: 64;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 65px;
}

#u2095.MuseMenuActive #u2098,#u2288.MuseMenuActive #u2291
{
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 120px;
	top: 34px;
}

#u2287
{
	width: 120px;
}

#u2438
{
	width: 120px;
}

#u2439
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 18px;
}

#u2464.MuseMenuActive #u2466-4,#u2439:hover #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2439.MuseMenuActive #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
	left: 436px;
}

#u2111
{
	width: 114px;
	padding-bottom: 10px;
}

#u2113-4
{
	width: 94px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 10px;
}

#u2288.MuseMenuActive #u2290-4,#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

._u86.f9s_center
{
	margin-left: 18px;
	margin-right: 16px;
	height: 51px;
}

._u86.f9s_top_mid,._u86.f9s_bot_mid
{
	margin-left: 17px;
	margin-right: 15px;
	height: 17px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 926px;
	left: -100px;
}

#u1530-4
{
	z-index: 224;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 104px;
}

#u86,#u86-bw
{
	z-index: 6;
}

#u988
{
	z-index: 9;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u990
{
	z-index: 12;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u992
{
	z-index: 15;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u994
{
	z-index: 18;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u996
{
	z-index: 21;
	height: 52px;
	width: 52px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u1112-4
{
	z-index: 134;
	width: 234px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 41px;
	position: relative;
}

#pamphletu1072
{
	z-index: 80;
	width: 0.01px;
	height: 186px;
	padding-bottom: 224px;
	margin-left: 15px;
	margin-top: 8px;
	position: relative;
}

#u1088
{
	z-index: 81;
	width: 934px;
	position: relative;
	margin-right: -10000px;
}

#u1090
{
	position: absolute;
	width: 229px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 471px;
}

.ie #u1090
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1090:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1090:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2100:hover,#u2287:hover,#u2111.MuseMenuActive,#u1090.PamphletThumbSelected
{
	margin: 0px;
}

#u1089
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 704px;
}

.ie #u1090.PamphletThumbSelected,.ie #u1089
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

.ie #u1089:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1089:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u1091
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 235px;
}

.ie #u1089.PamphletThumbSelected,.ie #u1091
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1091:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1091:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091.PamphletThumbSelected
{
	margin: 0px;
}

#u1092
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.ie #u1091.PamphletThumbSelected,.ie #u1092
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1092:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:active
{
	background-color: transparent;
	margin: 0px;
}

.ie #u1092:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092.PamphletThumbSelected
{
	margin: 0px;
}

.ie #u1092.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1073
{
	position: absolute;
	width: 915px;
	top: 211px;
	left: 24px;
}

#u1073popup
{
	z-index: 86;
}

#u1082
{
	z-index: 87;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -17px;
}

#u1083-6
{
	z-index: 88;
	width: 800px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 58px;
}

#u1078
{
	z-index: 94;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -17px;
}

#u1079-6
{
	z-index: 95;
	width: 800px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 58px;
}

#u1074
{
	z-index: 101;
	width: 915px;
	height: 203px;
	border-color: #999999;
	background-color: transparent;
	margin-bottom: -87px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -17px;
}

#u1531
{
	z-index: 115;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 23px;
}

#u1531_clip
{
	overflow: hidden;
	width: 162px;
	height: 89px;
}

#u1531_img
{
	margin-left: 34px;
	margin-right: 7px;
	margin-bottom: -2px;
}

#u1075-6
{
	z-index: 102;
	width: 632px;
	min-height: 91px;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 234px;
}

#u1075
{
	font-size: 1px;
	line-height: 0px;
}

#u1076
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#u1077-6
{
	z-index: 108;
	width: 552px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u1080
{
	z-index: 117;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1081-6
{
	z-index: 118;
	width: 846px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 42px;
}

#u1083-2,#u1079-2,#u1077-2,#u1081-2
{
	font-size: 18px;
}

#u1083-4,#u1079-4,#u1077-4,#u1081-4
{
	line-height: 1.4;
}

#u1093
{
	position: absolute;
	width: 31px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	top: 244px;
	left: 6px;
}

#u1094-4
{
	z-index: 125;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u1086
{
	position: absolute;
	width: 31px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	top: 244px;
	left: 893px;
}

._u1093.f3s_top,._u1086.f3s_top
{
	background-image: url("../images/u1093-sprite.png");
	width: 31px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1093.f3s_mid,._u1086.f3s_mid
{
	background-image: url("../images/u1093-sprite.png");
	overflow: visible;
	background-position: -31px top;
	width: 31px;
	min-height: 32px;
	padding-bottom: 0px;
}

._u1093.f3s_bot,._u1086.f3s_bot
{
	background-image: url("../images/u1093-sprite.png");
	width: 31px;
	overflow: visible;
	height: 7px;
	background-position: -62px top;
}

#u1087-4
{
	z-index: 130;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#ppu1068
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -399px;
}

#u1068
{
	z-index: 244;
	height: 183px;
	width: 234px;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: -10px;
	background: url("../images/swedish-massage--u1068.png") no-repeat 0px 0px;
}

#u1068:hover
{
	background: url("../images/swedish-massage--u1068-r.png") no-repeat 0px 0px;
}

#u1069
{
	z-index: 241;
	height: 184px;
	width: 235px;
	vertical-align: top;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 224px;
	background: url("../images/deeptissue-u1069.png") no-repeat 0px 0px;
}

#u1069:hover
{
	background: url("../images/deeptissue-u1069-r.png") no-repeat 0px 0px;
}

#u1070
{
	z-index: 238;
	height: 183px;
	width: 234px;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 458px;
	background: url("../images/hotstone-u1070.png") no-repeat 0px 0px;
}

#u1070:hover
{
	background: url("../images/hotstone-u1070-r.png") no-repeat 0px 0px;
}

#u1071
{
	z-index: 235;
	height: 183px;
	width: 234px;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 692px;
	background: url("../images/footmassage-u1071.png") no-repeat 0px 0px;
}

#u1071:hover
{
	background: url("../images/footmassage-u1071-r.png") no-repeat 0px 0px;
}

#u1067
{
	z-index: 79;
	width: 916px;
	height: 124px;
	border-color: #000000;
	background-color: #262626;
	margin-left: 22px;
	top: -205px;
	margin-bottom: -124px;
	position: relative;
}

#u1139-4
{
	z-index: 138;
	width: 660px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	top: -32px;
	margin-bottom: -32px;
	position: relative;
}

#pu1999-3
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 14px;
}

#u1999-3
{
	z-index: 27;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 214px;
}

#tab-panelu1140
{
	z-index: 142;
	width: 916px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1175
{
	z-index: 143;
	width: 914px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#pu1184
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1184
{
	z-index: 145;
	width: 229px;
	height: 37px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._u1184.f3s_top
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1184:hover ._u1184.f3s_top
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1184:active ._u1184.f3s_top
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1184.f3s_mid
{
	background-image: url("../images/u1184-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1184:hover ._u1184.f3s_mid
{
	background-image: url("../images/u1184-r-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1184:active ._u1184.f3s_mid
{
	background-image: url("../images/u1184-m-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

._u1184.f3s_bot
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1184:hover ._u1184.f3s_bot
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1184:active ._u1184.f3s_bot
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#u1187-4
{
	z-index: 146;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#pu1184:hover #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1184:active #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1184:hover #u1187-4 p,#pu1184:hover #u1187-4 h2
{
	text-decoration: underline;
}

#pu1184:active #u1187-4 p,#pu1184:active #u1187-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#pu1176
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u1176
{
	z-index: 154;
	width: 229px;
	height: 37px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._u1176.f3s_top
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1176:hover ._u1176.f3s_top
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1176:active ._u1176.f3s_top
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1176.f3s_mid
{
	background-image: url("../images/u1184-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1176:hover ._u1176.f3s_mid
{
	background-image: url("../images/u1184-r-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1176:active ._u1176.f3s_mid
{
	background-image: url("../images/u1184-m-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

._u1176.f3s_bot
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1176:hover ._u1176.f3s_bot
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1176:active ._u1176.f3s_bot
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#u1179-4
{
	z-index: 155;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#pu1184.TabbedPanelsTabSelected #u1187-4,#pu1176:hover #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1176:active #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1176:hover #u1179-4 p,#pu1176:hover #u1179-4 h2
{
	text-decoration: underline;
}

#pu1176:active #u1179-4 p,#pu1176:active #u1179-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#pu1180
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1180
{
	z-index: 163;
	width: 229px;
	height: 37px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._u1180.f3s_top
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1180:hover ._u1180.f3s_top
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1180:active ._u1180.f3s_top
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1184.TabbedPanelsTabSelected ._u1184.f3s_top,#pu1176.TabbedPanelsTabSelected ._u1176.f3s_top,#pu1180.TabbedPanelsTabSelected ._u1180.f3s_top
{
	background-image: url("../images/u1184-a-sprite.png");
	width: 229px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1180.f3s_mid
{
	background-image: url("../images/u1184-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1180:hover ._u1180.f3s_mid
{
	background-image: url("../images/u1184-r-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1180:active ._u1180.f3s_mid
{
	background-image: url("../images/u1184-m-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

#pu1184.TabbedPanelsTabSelected ._u1184.f3s_mid,#pu1176.TabbedPanelsTabSelected ._u1176.f3s_mid,#pu1180.TabbedPanelsTabSelected ._u1180.f3s_mid
{
	background-image: url("../images/u1184-a-sprite.png");
	overflow: visible;
	background-position: -229px top;
	width: 229px;
	height: 23px;
}

._u1180.f3s_bot
{
	background-image: url("../images/u1184-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1180:hover ._u1180.f3s_bot
{
	background-image: url("../images/u1184-r-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1180:active ._u1180.f3s_bot
{
	background-image: url("../images/u1184-m-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#pu1184.TabbedPanelsTabSelected ._u1184.f3s_bot,#pu1176.TabbedPanelsTabSelected ._u1176.f3s_bot,#pu1180.TabbedPanelsTabSelected ._u1180.f3s_bot
{
	background-image: url("../images/u1184-a-sprite.png");
	width: 229px;
	overflow: visible;
	height: 7px;
	background-position: -458px top;
}

#u1181-4
{
	z-index: 164;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#pu1176.TabbedPanelsTabSelected #u1179-4,#pu1180:hover #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1180:active #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1180:hover #u1181-4 p,#pu1180:hover #u1181-4 h2
{
	text-decoration: underline;
}

#pu1180:active #u1181-4 p,#pu1180:active #u1181-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#pu1184:hover #u1184,#pu1184:active #u1184,#pu1184.TabbedPanelsTabSelected #u1184,#pu1176:hover #u1176,#pu1176:active #u1176,#pu1176.TabbedPanelsTabSelected #u1176,#pu1180:hover #u1180,#pu1180:active #u1180,#pu1180.TabbedPanelsTabSelected #u1180
{
	width: 229px;
	height: 37px;
	background: none;
	-pie-background: none;
	border-style: none;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1233
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u1233
{
	z-index: 172;
	width: 230px;
	height: 37px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._u1233.f3s_top
{
	background-image: url("../images/u1233-sprite.png");
	width: 230px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1233:hover ._u1233.f3s_top
{
	background-image: url("../images/u1233-sprite.png");
	width: 230px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1233:active ._u1233.f3s_top
{
	background-image: url("../images/u1233-m-sprite.png");
	width: 230px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

#pu1233.TabbedPanelsTabSelected ._u1233.f3s_top
{
	background-image: url("../images/u1233-a-sprite.png");
	width: 230px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1233.f3s_mid
{
	background-image: url("../images/u1233-sprite.png");
	overflow: visible;
	background-position: -230px top;
	width: 230px;
	height: 23px;
}

#pu1233:hover ._u1233.f3s_mid
{
	background-image: url("../images/u1233-sprite.png");
	overflow: visible;
	background-position: -230px top;
	width: 230px;
	height: 23px;
}

#pu1233:active ._u1233.f3s_mid
{
	background-image: url("../images/u1233-m-sprite.png");
	overflow: visible;
	background-position: -230px top;
	width: 230px;
	height: 23px;
}

#pu1233.TabbedPanelsTabSelected ._u1233.f3s_mid
{
	background-image: url("../images/u1233-a-sprite.png");
	overflow: visible;
	background-position: -230px top;
	width: 230px;
	height: 23px;
}

._u1233.f3s_bot
{
	background-image: url("../images/u1233-sprite.png");
	width: 230px;
	overflow: visible;
	height: 7px;
	background-position: -460px top;
}

#pu1233:hover ._u1233.f3s_bot
{
	background-image: url("../images/u1233-sprite.png");
	width: 230px;
	overflow: visible;
	height: 7px;
	background-position: -460px top;
}

#pu1233:active ._u1233.f3s_bot
{
	background-image: url("../images/u1233-m-sprite.png");
	width: 230px;
	overflow: visible;
	height: 7px;
	background-position: -460px top;
}

#pu1233.TabbedPanelsTabSelected ._u1233.f3s_bot
{
	background-image: url("../images/u1233-a-sprite.png");
	width: 230px;
	overflow: visible;
	height: 7px;
	background-position: -460px top;
}

#u1236-4
{
	z-index: 173;
	width: 228px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #262626;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#pu1180.TabbedPanelsTabSelected #u1181-4,#pu1233:hover #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1233:active #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1233.TabbedPanelsTabSelected #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
	min-height: 19px;
}

#pu1233:hover #u1236-4 p,#pu1233:hover #u1236-4 h2
{
	text-decoration: underline;
}

#pu1233:active #u1236-4 p,#pu1233:active #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#pu1184.TabbedPanelsTabSelected #u1187-4 p,#pu1184.TabbedPanelsTabSelected #u1187-4 h2,#pu1176.TabbedPanelsTabSelected #u1179-4 p,#pu1176.TabbedPanelsTabSelected #u1179-4 h2,#pu1180.TabbedPanelsTabSelected #u1181-4 p,#pu1180.TabbedPanelsTabSelected #u1181-4 h2,#pu1233.TabbedPanelsTabSelected #u1236-4 p,#pu1233.TabbedPanelsTabSelected #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: underline;
	font-size: 16px;
}

#pu1233:hover #u1233,#pu1233:active #u1233,#pu1233.TabbedPanelsTabSelected #u1233
{
	width: 230px;
	height: 37px;
	background: none;
	-pie-background: none;
	border-style: none;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
6px 6px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1162
{
	z-index: 180;
	width: 916px;
	background-color: transparent;
	position: relative;
}

#u1171
{
	z-index: 181;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1172-6
{
	z-index: 182;
	width: 283px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1247
{
	z-index: 188;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 546px;
}

#u1247_img
{
	padding-bottom: 40px;
}

#u1167
{
	z-index: 190;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1987
{
	z-index: 198;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 61px;
}

#u1225-7
{
	z-index: 191;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 487px;
}

#u1163
{
	z-index: 200;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 33px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1830-6
{
	z-index: 201;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1941
{
	z-index: 207;
	width: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 597px;
}

#u1237
{
	z-index: 209;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1834-6
{
	z-index: 210;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1838
{
	z-index: 216;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 492px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u2045-6
{
	z-index: 228;
	width: 800px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	margin-left: 80px;
	margin-top: 40px;
	position: relative;
}

._u2045-6.f3s_top
{
	background-image: url("../images/u2045-6-sprite.png");
	width: 800px;
	overflow: hidden;
	height: 9px;
	background-position: left top;
}

._u2045-6.f3s_mid
{
	background-image: url("../images/u2045-6-sprite.png");
	overflow: visible;
	background-position: -800px top;
	width: 800px;
	min-height: 92px;
}

._u2045-6.f3s_bot
{
	background-image: url("../images/u2045-6-sprite.png");
	width: 800px;
	overflow: visible;
	height: 9px;
	background-position: -1600px top;
}

#u2045-6position_content
{
	margin-top: -9px;
	margin-bottom: -9px;
	width: 800px;
}

#u2045-2
{
	font-size: 28px;
	text-align: center;
}

#u2045-4
{
	font-size: 28px;
	text-align: left;
	padding-left: 15px;
	color: #E6FFF5;
}

#u2003-6
{
	z-index: 218;
	width: 422px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	margin-left: 269px;
	margin-top: 72px;
	position: relative;
}

#u547
{
	z-index: 7;
}

._u547.f9s_center
{
	margin-left: 10px;
	margin-right: 8px;
	height: 3px;
}

._u547.f9s_top_mid,._u547.f9s_bot_mid
{
	margin-left: 9px;
	margin-right: 7px;
	height: 9px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

