.version.massage /* version checker */
{
	color: #0000EB;
	background-color: #B0319B;
}

.html
{
	background: #005518 url("../images/grey.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1215px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -178px;
	margin-bottom: -21px;
	width: 0.01px;
}

#u85,#u85-bw
{
	z-index: 5;
	height: 22px;
}

#pu1713-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1713-3
{
	z-index: 2;
	width: 1160px;
	min-height: 157px;
	margin-right: -10000px;
}

#u1721-4
{
	z-index: 23;
	width: 390px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#menuu2086
{
	z-index: 27;
	width: 600px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 512px;
}

#u2101
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2102
{
	width: 74px;
	padding-bottom: 12px;
}

#u2102:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2102:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2102.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 53px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2102:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2102:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2102.MuseMenuActive #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 77px;
}

#u2090
{
	width: 112px;
	padding-bottom: 12px;
}

#u2090.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2090:hover #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2090:active #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2090.MuseMenuActive #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2094
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 192px;
}

#u2095
{
	width: 122px;
	padding-bottom: 12px;
}

#u2095.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u2096-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2095:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2095:active #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2095.MuseMenuActive #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u2098
{
	z-index: 46;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 97px;
}

#u2099
{
	width: 100px;
	top: 34px;
}

#u2100
{
	width: 100px;
}

#u2100:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u2463
{
	width: 100px;
}

#u2464
{
	width: 98px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2464:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2466-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2464:hover #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2464.MuseMenuActive #u2466-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u2740
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 317px;
}

#u2750
{
	width: 87px;
	padding-bottom: 12px;
}

#u2750.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u2753-4
{
	width: 66px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2750:hover #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2750:active #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2750.MuseMenuActive #u2753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u2285
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 407px;
}

#u2288
{
	width: 85px;
	padding-bottom: 12px;
}

#u2288.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2290-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2288:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2288:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2288.MuseMenuActive #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2291
{
	z-index: 67;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 60px;
}

#u2095.MuseMenuActive #u2098,#u2288.MuseMenuActive #u2291
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 125px;
	top: 34px;
}

#u2287
{
	width: 125px;
}

#u2287:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2439
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u2439:hover #u2440-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2576
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2439.MuseMenuActive,#u2576:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u2439.MuseMenuActive #u2440-4,#u2576:hover #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2608
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2576.MuseMenuActive,#u2608:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2609-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 7px;
}

#u2608:hover #u2609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3046
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2608.MuseMenuActive,#u3046:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3047-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u2576.MuseMenuActive #u2579-4,#u3046:hover #u3047-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3046.MuseMenuActive #u3047-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3073
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3046.MuseMenuActive,#u3073:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3075-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3073:hover #u3075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3101
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3073.MuseMenuActive,#u3101:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3103-4
{
	width: 86px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u3073.MuseMenuActive #u3075-4,#u3101:hover #u3103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3101.MuseMenuActive #u3103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3146
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3101.MuseMenuActive,#u3146:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3149-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 24px;
}

#u3146:hover #u3149-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3174
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3146.MuseMenuActive,#u3174:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3175-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 24px;
}

#u3146.MuseMenuActive #u3149-4,#u3174:hover #u3175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3205
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3174.MuseMenuActive,#u3205:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3207-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 24px;
}

#u3174.MuseMenuActive #u3175-4,#u3205:hover #u3207-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3231
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3205.MuseMenuActive,#u3231:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3234-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 24px;
}

#u3205.MuseMenuActive #u3207-4,#u3231:hover #u3234-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3231.MuseMenuActive #u3234-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u3261
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3231.MuseMenuActive,#u3261:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3264-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 21px;
}

#u3261:hover #u3264-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u3261.MuseMenuActive #u3264-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u2438,#u2575,#u2607,#u3043,#u3072,#u3100,#u3143,#u3173,#u3202,#u3230,#u3258,#u3286
{
	width: 125px;
}

#u3287
{
	width: 123px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3261.MuseMenuActive,#u3287:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3287.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3290-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 7px;
}

#u2608.MuseMenuActive #u2609-4,#u3287:hover #u3290-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u3287.MuseMenuActive #u3290-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u2111
{
	width: 105px;
	padding-bottom: 12px;
}

#u2111.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u2113-4
{
	width: 85px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 10px;
}

#u2111:hover #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2111:active #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2111.MuseMenuActive #u2113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
}

#u86
{
	z-index: 6;
	min-height: 71px;
	padding-bottom: 14px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1530-4
{
	z-index: 278;
	width: 624px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 122px;
}

#u86-bw
{
	z-index: 6;
	min-height: 71px;
}

#u988
{
	z-index: 9;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 749px;
}

#u990
{
	z-index: 12;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 814px;
}

#u992
{
	z-index: 15;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u994
{
	z-index: 18;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 930px;
}

#u996
{
	z-index: 21;
	min-height: 56px;
	min-width: 56px;
	height: 56px;
	width: 56px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 988px;
}

#u988:hover,#u990:hover,#u992:hover,#u994:hover,#u996:hover
{
	height: 54px;
	width: 54px;
}

#u1112-4
{
	z-index: 210;
	width: 234px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 41px;
	position: relative;
}

#pamphletu1072
{
	z-index: 156;
	width: 0.01px;
	height: 186px;
	padding-bottom: 224px;
	margin-left: 15px;
	margin-top: 8px;
	position: relative;
}

#u1088
{
	z-index: 157;
	width: 934px;
	position: relative;
	margin-right: -10000px;
}

#u1090
{
	position: absolute;
	width: 229px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 471px;
}

.ie #u1090
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:hover
{
	border-style: none;
	border-color: transparent;
	width: 229px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1090:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090:active
{
	background-color: transparent;
	width: 229px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1090:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1090.PamphletThumbSelected
{
	width: 229px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

#u1089
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 704px;
}

.ie #u1090.PamphletThumbSelected,.ie #u1089
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1089:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089:active
{
	background-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1089:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1089.PamphletThumbSelected
{
	background-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

#u1091
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 235px;
}

.ie #u1089.PamphletThumbSelected,.ie #u1091
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:hover
{
	border-style: none;
	border-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1091:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091:active
{
	background-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1091:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1091.PamphletThumbSelected
{
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

#u1092
{
	position: absolute;
	width: 230px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

.ie #u1091.PamphletThumbSelected,.ie #u1092
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:hover
{
	border-style: none;
	border-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1092:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092:active
{
	background-color: transparent;
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1092:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1092.PamphletThumbSelected
{
	width: 230px;
	height: 186px;
	min-height: 0px;
	margin: 0px;
}

#u1092:hover::before,#u1092:active::before,#u1092.PamphletThumbSelected::before
{
	box-shadow: none;
}

.ie #u1092.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1073
{
	position: absolute;
	width: 915px;
	top: 211px;
	left: 24px;
}

#u1073popup
{
	z-index: 162;
}

#u1082
{
	z-index: 163;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -17px;
}

#u1083-6
{
	z-index: 164;
	width: 800px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 58px;
}

#u1078
{
	z-index: 170;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -17px;
}

#u1079-6
{
	z-index: 171;
	width: 800px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 58px;
}

#u1074
{
	z-index: 177;
	width: 915px;
	height: 203px;
	border-color: #999999;
	background-color: transparent;
	margin-bottom: -87px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -17px;
}

#u1531
{
	z-index: 191;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 23px;
}

#u1531_clip
{
	overflow: hidden;
	width: 162px;
	height: 89px;
}

#u1531_img
{
	margin-left: 34px;
	margin-right: 7px;
	margin-bottom: -2px;
}

#u1075-6
{
	z-index: 178;
	width: 632px;
	min-height: 91px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 234px;
}

#u1075
{
	font-size: 1px;
	line-height: 0px;
}

#u1076
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#u1077-6
{
	z-index: 184;
	width: 552px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
}

#u1080
{
	z-index: 193;
	width: 915px;
	height: 112px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1081-6
{
	z-index: 194;
	width: 846px;
	min-height: 69px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 42px;
}

#u1083-2,#u1079-2,#u1077-2,#u1081-2
{
	font-size: 18px;
}

#u1083-4,#u1079-4,#u1077-4,#u1081-4
{
	line-height: 1.4;
}

#u1093
{
	position: absolute;
	width: 29px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 244px;
	left: 6px;
}

#u1094-4
{
	z-index: 201;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u1086
{
	position: absolute;
	width: 29px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 244px;
	left: 893px;
}

#u1093::before,#u1086::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	width: 31px;
	height: 46px;
	top: -1px;
	left: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1087-4
{
	z-index: 206;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#pu1068
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -399px;
}

#u1068
{
	z-index: 291;
	width: 210px;
	height: 159px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	border-radius: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/swedish-massage--ieu1068-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/swedish-massage-.png") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1068:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 4px;
	border-style: solid;
	border-color: #DB0000;
	width: 210px;
	height: 159px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
	background-size: cover;
}

#u1069
{
	z-index: 290;
	width: 210px;
	height: 159px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	border-radius: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 232px;
	background: #FFFFFF url("../images/deeptissue-ieu1069-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/deeptissue.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1069:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #DB0000;
	width: 210px;
	height: 159px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
	background-size: cover;
}

#u1070
{
	z-index: 289;
	width: 210px;
	height: 159px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	border-radius: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 466px;
	background: #FFFFFF url("../images/hotstone-ieu1070-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hotstone.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1070:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #DB0000;
	width: 210px;
	height: 159px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
	background-size: cover;
}

#u1071
{
	z-index: 288;
	width: 210px;
	height: 159px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #DBDBDB;
	border-radius: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 700px;
	background: #FFFFFF url("../images/footmassage-ieu1071-fr.png") no-repeat center bottom;
	background: rgba(0,0,0,0) url("../images/footmassage.jpg") no-repeat center bottom;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1068::before,#u1068:hover::before,#u1069::before,#u1069:hover::before,#u1070::before,#u1071::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1071:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-color: #DB0000;
	width: 210px;
	height: 159px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
	background-size: cover;
}

#u1067
{
	z-index: 155;
	width: 916px;
	height: 124px;
	border-color: #000000;
	background-color: #262626;
	margin-left: 22px;
	top: -205px;
	margin-bottom: -124px;
	position: relative;
}

#u1139-4
{
	z-index: 214;
	width: 660px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 22px;
	top: -32px;
	margin-bottom: -32px;
	position: relative;
}

#tab-panelu1140
{
	z-index: 218;
	width: 916px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 14px;
	position: relative;
}

#u1175
{
	z-index: 219;
	width: 914px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1184
{
	z-index: 220;
	width: 227px;
	min-height: 19px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F7941F;
	background-color: #F7941F;
	border-radius: 0px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1184:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	border-radius: 0px;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1184:active
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #262626;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1184.TabbedPanelsTabSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #00FF00;
	background-color: #262626;
	border-radius: 0px;
	width: 227px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1187-4
{
	z-index: 221;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	color: #262626;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1184:hover #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1184:active #u1187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1184:hover #u1187-4 p,#u1184:hover #u1187-4 h2
{
	text-decoration: underline;
}

#u1184:active #u1187-4 p,#u1184:active #u1187-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1176
{
	z-index: 225;
	width: 227px;
	min-height: 19px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F7941F;
	background-color: #F7941F;
	border-radius: 0px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u1176:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	border-radius: 0px;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1176:active
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #262626;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1176.TabbedPanelsTabSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #00FF00;
	background-color: #262626;
	border-radius: 0px;
	width: 227px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1179-4
{
	z-index: 226;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	color: #262626;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1184.TabbedPanelsTabSelected #u1187-4,#u1176:hover #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1176:active #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1176:hover #u1179-4 p,#u1176:hover #u1179-4 h2
{
	text-decoration: underline;
}

#u1176:active #u1179-4 p,#u1176:active #u1179-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1180
{
	z-index: 230;
	width: 227px;
	min-height: 19px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F7941F;
	background-color: #F7941F;
	border-radius: 0px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1180:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #F7941F;
	border-radius: 0px;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1180:active
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #262626;
	width: 229px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1184:hover::before,#u1184:active::before,#u1176:hover::before,#u1176:active::before,#u1180:hover::before,#u1180:active::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1180.TabbedPanelsTabSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #00FF00;
	background-color: #262626;
	border-radius: 0px;
	width: 227px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1181-4
{
	z-index: 231;
	width: 227px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	color: #262626;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1176.TabbedPanelsTabSelected #u1179-4,#u1180:hover #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1180:active #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1180.TabbedPanelsTabSelected #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u1180:hover #u1181-4 p,#u1180:hover #u1181-4 h2
{
	text-decoration: underline;
}

#u1180:active #u1181-4 p,#u1180:active #u1181-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1233
{
	z-index: 235;
	width: 228px;
	min-height: 19px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F7941F;
	background-color: #F7941F;
	border-radius: 0px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u1233:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #F7941F;
	background-color: #F7941F;
	border-radius: 0px;
	width: 228px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #F7941F;
	background-color: #262626;
	width: 228px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1233.TabbedPanelsTabSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #00FF00;
	background-color: #262626;
	border-radius: 0px;
	width: 228px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1184::before,#u1184.TabbedPanelsTabSelected::before,#u1176::before,#u1176.TabbedPanelsTabSelected::before,#u1180::before,#u1180.TabbedPanelsTabSelected::before,#u1233::before,#u1233:hover::before,#u1233:active::before,#u1233.TabbedPanelsTabSelected::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1236-4
{
	z-index: 236;
	width: 228px;
	min-height: 19px;
	border-color: #999999;
	background-color: transparent;
	color: #262626;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1233:hover #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 228px;
	margin: 0px -10000px 0px 0px;
}

#u1233:active #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 228px;
	margin: 0px -10000px 0px 0px;
}

#u1233.TabbedPanelsTabSelected #u1236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 228px;
	margin: 0px -10000px 0px 0px;
}

#u1233:hover #u1236-4 p,#u1233:hover #u1236-4 h2
{
	text-decoration: underline;
}

#u1233:active #u1236-4 p,#u1233:active #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	text-decoration: none;
}

#u1184.TabbedPanelsTabSelected #u1187-4 p,#u1184.TabbedPanelsTabSelected #u1187-4 h2,#u1176.TabbedPanelsTabSelected #u1179-4 p,#u1176.TabbedPanelsTabSelected #u1179-4 h2,#u1180.TabbedPanelsTabSelected #u1181-4 p,#u1180.TabbedPanelsTabSelected #u1181-4 h2,#u1233.TabbedPanelsTabSelected #u1236-4 p,#u1233.TabbedPanelsTabSelected #u1236-4 h2
{
	color: #F36525;
	visibility: inherit;
	font-size: 16px;
	text-decoration: underline;
}

#u1162
{
	z-index: 240;
	width: 916px;
	background-color: transparent;
	position: relative;
}

#u1171
{
	z-index: 241;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1172-6
{
	z-index: 242;
	width: 283px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1247
{
	z-index: 248;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 546px;
}

#u1247_img
{
	padding-bottom: 40px;
}

#u1167
{
	z-index: 250;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1987
{
	z-index: 258;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 61px;
}

#u1225-7
{
	z-index: 251;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 487px;
}

#u1163
{
	z-index: 260;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 33px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1830-6
{
	z-index: 261;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1941
{
	z-index: 267;
	width: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 597px;
}

#u1237
{
	z-index: 269;
	width: 916px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
	background: #E4E4E4 url("../images/grey.jpg") repeat left top;
}

#u1834-6
{
	z-index: 270;
	width: 390px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 58px;
}

#u1838
{
	z-index: 276;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 492px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u2045-6
{
	z-index: 282;
	width: 800px;
	min-height: 110px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #005F00;
	margin-left: 80px;
	margin-top: 40px;
	position: relative;
}

#u2045-6::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 8px rgba(0,255,36,0.5), inset 0px 0px 8px rgba(0,255,36,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u2045-2
{
	font-size: 28px;
	text-align: center;
}

#u2045-4
{
	font-size: 28px;
	text-align: left;
	padding-left: 15px;
	color: #E6FFF5;
}

#pu2849-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 7px;
}

#u2849-4
{
	z-index: 292;
	width: 185px;
	min-height: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2846-6
{
	z-index: 148;
	width: 422px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 135px;
	left: 247px;
}

#u2847
{
	z-index: 154;
	width: 170px;
	min-height: 170px;
	margin-right: -10000px;
	left: 768px;
}

#u547
{
	z-index: 7;
	height: 21px;
}

#u547-bw
{
	z-index: 7;
	margin-top: 22px;
	height: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 178px;
	padding-bottom: 20px;
}

