#u85
{
	border-color: #000000;
	background-color: #262626;
}

#u1713-3
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u1721-4
{
	background-color: transparent;
	color: #FF0000;
	font-size: 52px;
	text-align: left;
	font-family: righteous, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2102
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u2103-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2102:hover #u2103-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2102:active #u2103-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2090
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u2091-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2090:hover #u2091-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2090:active #u2091-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2095
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u2096-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2095:hover #u2096-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2095:active #u2096-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2098
{
	border-color: #CCDB2A;
	position: relative;
	background: transparent url("../images/arrowmenudown-u2913-fr.png") no-repeat center center;
}

#u2100
{
	background-color: #CCDB2A;
	position: relative;
}

#u2464
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2464:hover
{
	background-color: #FFA9A9;
}

#u2466-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u2750
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u2753-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2750:hover #u2753-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2750:active #u2753-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2288
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u2290-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2288:hover #u2290-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2288:active #u2290-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2291
{
	border-color: #CCDB2A;
	position: relative;
	background: transparent url("../images/arrowmenudown-u2913-fr.png") no-repeat center center;
}

#u2095.MuseMenuActive #u2098,#u2288.MuseMenuActive #u2291
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2099,#u2286
{
	background-color: transparent;
}

#u2101,#u2087,#u2094,#u2463,#u2740,#u2285,#u2287
{
	background-color: transparent;
	position: relative;
}

#u2100:hover,#u2287:hover
{
	background-color: #FF6D6E;
}

#u2439
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2439:hover
{
	background-color: #FFA9A9;
}

#u2440-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u2576
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2576:hover
{
	background-color: #FFA9A9;
}

#u2579-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u2608
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2608:hover
{
	background-color: #FFA9A9;
}

#u2609-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3046
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3046:hover
{
	background-color: #FFA9A9;
}

#u3047-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3073
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3073:hover
{
	background-color: #FFA9A9;
}

#u3075-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3101
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3101:hover
{
	background-color: #FFA9A9;
}

#u3103-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3146
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3146:hover
{
	background-color: #FFA9A9;
}

#u3149-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3174
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3174:hover
{
	background-color: #FFA9A9;
}

#u3175-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3205
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3205:hover
{
	background-color: #FFA9A9;
}

#u3207-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3231
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3231:hover
{
	background-color: #FFA9A9;
}

#u3234-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3261
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3261:hover
{
	background-color: #FFA9A9;
}

#u3264-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u3287
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3287:hover
{
	background-color: #FFA9A9;
}

#u2464.MuseMenuActive,#u2439.MuseMenuActive,#u2576.MuseMenuActive,#u2608.MuseMenuActive,#u3046.MuseMenuActive,#u3073.MuseMenuActive,#u3101.MuseMenuActive,#u3146.MuseMenuActive,#u3174.MuseMenuActive,#u3205.MuseMenuActive,#u3231.MuseMenuActive,#u3261.MuseMenuActive,#u3287.MuseMenuActive
{
	background-color: #FF6565;
}

#u3290-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u2438,#u2575,#u2607,#u3043,#u3072,#u3100,#u3143,#u3173,#u3202,#u3230,#u3258,#u3286,#u2108,#u2111
{
	background-color: transparent;
	position: relative;
}

#u2113-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2102.MuseMenuActive #u2103-4,#u2090.MuseMenuActive #u2091-4,#u2095.MuseMenuActive #u2096-4,#u2750.MuseMenuActive #u2753-4,#u2288.MuseMenuActive #u2290-4,#u2111.MuseMenuActive #u2113-4
{
	border-style: none;
	border-color: transparent;
}

#u2111:hover #u2113-4 p
{
	color: #F36525;
	visibility: inherit;
}

#u2111:active #u2113-4 p
{
	color: #FFC20F;
	visibility: inherit;
}

#u2102.MuseMenuActive #u2103-4 p,#u2090.MuseMenuActive #u2091-4 p,#u2095.MuseMenuActive #u2096-4 p,#u2750.MuseMenuActive #u2753-4 p,#u2288.MuseMenuActive #u2290-4 p,#u2111.MuseMenuActive #u2113-4 p
{
	color: #F36525;
	visibility: inherit;
	text-decoration: underline;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u86
{
	border-color: #000000;
	background-color: #FF0000;
}

#u86::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0px 0px 15px rgba(9,9,9,0.56), inset 0px 0px 15px rgba(9,9,9,0.56);
}

#u86_align_to_page
{
	position: relative;
}

#u988
{
	vertical-align: top;
	position: relative;
	background: url("../images/u988.png") no-repeat 0px 0px;
}

#u988:hover
{
	background: url("../images/u988-r.png") no-repeat 2px 2px;
}

#u990
{
	vertical-align: top;
	position: relative;
	background: url("../images/u990.png") no-repeat 0px 0px;
}

#u990:hover
{
	background: url("../images/u990-r.png") no-repeat 2px 2px;
}

#u992
{
	vertical-align: top;
	position: relative;
	background: url("../images/u992.png") no-repeat 0px 0px;
}

#u992:hover
{
	background: url("../images/u992-r.png") no-repeat 2px 2px;
}

#u994
{
	vertical-align: top;
	position: relative;
	background: url("../images/u994.png") no-repeat 0px 0px;
}

#u994:hover
{
	background: url("../images/u994-r.png") no-repeat 2px 2px;
}

#u996
{
	vertical-align: top;
	position: relative;
	background: url("../images/u996.png") no-repeat 0px 0px;
}

#u996:hover
{
	background: url("../images/u996-r.png") no-repeat 2px 2px;
}

#u2846-6
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#menuu2086,#u2847
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u547
{
	border-color: #000000;
	background-color: #2A2A2A;
}

#u547::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0px 0px 8px rgba(9,9,9,0.26), inset 0px 0px 8px rgba(9,9,9,0.26);
}

